<mat-toolbar color="primary" class="mat-elevation-z6 custom-toolbar">
    <button class="menubtn"(click)="toggleMenu()"><mat-icon>view_headline</mat-icon></button>
<div class="slide-in-menu" [@slideInOut]="menuState">
  <!-- Icons and Text displayed -->
  <ng-container *ngIf="menuState === 'in'">
    
    <a routerLink="/" class="icon-container"><i class="fa-solid fa-house"></i> Home</a>
    <a routerLink="/getusers"class="icon-container2"><i class="fa-solid fa-users"></i>&nbsp;View Users</a>
    <!-- <a routerLink="/about"class="icon-container2"><i class="fa-regular fa-clock "></i>&nbsp;Quick access</a>
    <a routerLink="/about"class="icon-container2-with-icon">	<mat-icon class="sharedicon">folder_shared</mat-icon> Shared with me</a>
    <a routerLink="/about"class="icon-container2"><i class="fa-solid fa-thumbs-up"></i>&nbsp;Approval requests</a>
    <a routerLink="/about"class="icon-container2"><i class='fa-solid fa-user'></i> My space</a>
    <a routerLink="/about"class="icon-container2"><i class="fa-solid fa-chart-line"></i>&nbsp;Document analytics</a> -->
    <!-- Add more icons and text as needed -->
  </ng-container>
  <!-- Icons only displayed initially -->
  <ng-container *ngIf="menuState === 'out'" >  
    <a routerLink="/" matTooltip="home"  class="icon-container"> <i class="fa-solid fa-house"></i></a>
    <a routerLink="/getusers" matTooltip="View all users"><i class="fa-solid fa-users"></i></a>
    <!-- <a routerLink="/about" matTooltip="Quick access"><i class="fa-regular fa-clock "></i></a>
    <a routerLink="/about" matTooltip="Shared with me"><mat-icon>folder_shared</mat-icon></a>
    <a routerLink="/about" matTooltip="Aprrovals and requests"><i class="fa-solid fa-thumbs-up"></i></a>
    <a routerLink="/about" matTooltip="My space"> <i class='fa-solid fa-user'></i> </a>
    <a routerLink="/about" matTooltip="Analytics">	<i class="fa-solid fa-chart-line"></i></a> -->
    <!-- Add more icons as needed -->
  </ng-container>
</div>
      <div class="navbar-heading">
        <!-- <div class="logo"></div> -->
        <i class="fa-solid fa-file-circle-check"></i>
      
      <span>&nbsp; Doc Management System</span>  
    </div>
      <div class="spacer"></div>
      <!-- <a mat-button class="navbtn1">Docs Analysis</a> -->
      <!-- <a mat-button routerLink="/getusers" class="navbtn2">Users</a> -->
      <!-- <a mat-button class="navbtn3"></a> -->
      <!-- <div>{{userRole}}</div> -->
      <span>{{loggedInUser}}, {{userRole}}</span>
      <div>
          <button mat-button>
            <img [src]="profilePictureUrl" alt="Profile Picture" class="circular-image" />
          </button>
          <mat-menu #menu="matMenu" >
            <button mat-menu-item class="edit-profile-button" [routerLink]="['/edit-profile', getLoggedInId()]">
              Edit Profile
            </button>
            <button mat-menu-item class="edit-profile-button2" (click)="logout()">
              Logout
            </button>
          </mat-menu>
            
        </div>
          <button mat-button class="arrow" [matMenuTriggerFor]="menu"><mat-icon>keyboard_arrow_down</mat-icon></button>
  </mat-toolbar>
  <div class="bg"> <div class="container"  [@shiftContainer]="menuState">
    <!-- Your transparent mat-card or div goes here -->
    
    <mat-card class="transparent-card" *ngIf="showFirstMatCard" >
        <div>
            <canvas id="pieChart" width="300" height="300"></canvas>
          </div>
      <!-- Card content -->
      <!-- <div>
      <label class="file-input-label" for="fileInput">
        <i class="fas fa-cloud-upload-alt" (click)="triggerFileInput()"></i> Upload File
      </label>
      <input type="file" id="fileInput" (change)="onFileChanged($event)" multiple style="display: none;" />
      <button mat-button class="uploadbtn" (click)="onUpload()">Submit </button>
    </div> -->
    <!-- <p *ngIf="selectedFiles.length > 0">Selected Files:
      <span *ngFor="let file of selectedFiles">{{ file.name }}, </span>
    </p>
    <p *ngIf="selectedFiles.length === 0">No files chosen</p> 
      <p>{{ message }}</p>
      <router-outlet>
        <button (click)="navigateToFileList()">Go to File List</button>
      </router-outlet>
      <div class="default-folder" (click)="openfolder()"> -->
        <!-- <img src="./folder_icon.png" alt="Folder Icon" /> -->
        <!-- <mat-icon class="foldericon">folder</mat-icon>
        <p>Default Folder</p>
      </div> -->
      
    </mat-card>
  </div></div>
<!-- <mat-toolbar color="primary" class="mat-elevation-z6 custom-toolbar">
  
    <mat-icon>description</mat-icon>
    <span>Doc Management System</span>
    <div class="spacer"></div>
    <a mat-button routerLink="/viewanalysis"class="navbtn1">Docs Analysis</a>
    <a mat-button routerLink="/getusers" class="navbtn2">Users</a>
    <a mat-button class="navbtn3"></a>
</mat-toolbar> -->
<!-- <div class="bg"></div> -->