// .navbar{
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     background-color: #007bff; /* Background color for the navbar */
//     color: #fff; /* Text color for the navbar */
//     padding: 10px 20px;
//     /* Add the following styles to make it stick to the top of the page */
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     z-index: 1;
//     //height: 20px; /* Adjust the height to your preference */
// }
.create-account-heading{
// background-color: rgba(2, 44, 78, 0.8);
font-size:larger;
  position:fixed;
  left:0.2%;
  top:-11%;
  width:38.5vw;
  text-align: center;
 // background-color: rgba(188, 196, 203, 0.8); /* Background color */
  color: rgba(2, 39, 76, 0.8);  /* Text color */
  border-radius: 1px; /* Rounded corners */
//  background-color: #d7d7d8; /* Background color */
  // color: rgb(255, 255, 255); /* Text color */
  font-weight: bold; /* Bold text */
  padding: 5px 10px; /* Add padding for spacing */
  //border-radius: 4px; /* Rounded corners */
  display: inline; /* Display inline for text */
}

.mat-elevation-z6 {
  background-color: rgba(2, 39, 76, 0.8); /* Background color with 50% transparency */
  box-shadow: none; /* Remove any box shadow */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 1; /* Place the background behind other content */
}
/* login.component.scss */

.toolbar-content {
    display: flex;
    align-items: center; /* Align items vertically */
  }
  
  .mat-icon {
    margin-right: 1px; /* Adjust the spacing between the icon and text */
    margin-left: 2px;
  }
  .bg {
    position: fixed; /* Add fixed position to center relative to the viewport */
    top: 50%; /* Move the top edge down by 50% of the viewport height */
    left: 50%; /* Move the left edge to the right by 50% of the viewport width */
    transform: translate(-50%, -50%); /* Move the div back by 50% of its own width and height */
    height: 49vh;
    width: 40vw;
    background-color: rgba(2, 39, 76, 0.7);
    display: flex;
    align-items: center;
   // border: 2px solid #f5f7f9; /* Add a solid border with the desired color and width */
  //border-radius: 12px; /* Add rounded corners */
  
  }
  .bg2{
    //background-color: aqua;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../login-page/login5.png'); /* Set the path to your image */
      background-size: cover; /* Adjust the sizing to your preference */
      background-position: center; /* Center the background image */
      z-index: -1; /* Place the background behind other content */
       
  }
  .title{
    position: fixed;
    top: -18%; /* Move the top edge down by 50% of the viewport height */
    left: 35%;
  }
 .name-label1{
    position: fixed;
    display: flex;
    align-items: center;
    top:10%;
    left: 44%;
    color: #f5f7f9;
 }
 .form-control1{
  text-align: center;
  position: fixed;
    top:19%;
    left:25%;
    width: 300px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    border: 2px solid rgba(2, 39, 76,); /* Add a border with your desired color */
    border-radius: 2px; /* Add rounded corners */
    padding: 8px; /* Adjust the padding inside the text boxes */
    font-size: 16px; /* Adjust the font size */
    background-color: rgb(255, 255, 255); /* Background color with some transparency */
    color: #040404; /* Text color */
    box-shadow: 1px 1px 5px rgba(68, 68, 69, 0.808); /* Add a subtle box shadow */
 }
 .form-control1:hover{
  background-color: rgba(255, 255, 255, 1);
 }
 .form-control2:hover{
  background-color: rgba(255, 255, 255, 1);
 }
 .form-control1:focus  {  
  outline: none; /* Remove the default focus outline */
  border: 2px solid #f7f7f7; /* Adjust the border style on focus */
  background-color: rgba(255, 255, 255, 1); /* Change background color on focus */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add a stronger box shadow on focus */
  border-radius: 2px; /* Add rounded corners */
}
.form-control2{
  text-align: center;
  position: fixed;
  top:48%;
    left:25%;
    width: 300px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    border: 2px solid rgba(2, 39, 76,); /* Add a border with your desired color */
    border-radius: 2px; /* Add rounded corners */
    padding: 8px; /* Adjust the padding inside the text boxes */
    font-size: 16px; /* Adjust the font size */
    background-color: rgba(255, 255, 255, 0.918); /* Background color with some transparency */
    color: #040404; /* Text color */
    box-shadow: 1px 1px 5px rgba(68, 68, 69, 0.808); /* Add a subtle box shadow */
 }
.form-control2:focus  {  
  outline: none; /* Remove the default focus outline */
  border: 2px solid #f7f7f7; /* Adjust the border style on focus */
  background-color: rgba(255, 255, 255, 1); /* Change background color on focus */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add a stronger box shadow on focus */
  border-radius: 2px; /* Add rounded corners */
}
 .name-label2{
  position: fixed;
  top:40%;
  left: 44%;
  color: #f5f7f9;
}
// .form-control2{
// position: fixed;
//   top:47%;
//   left: 35%;
// }
.btn{
  position: fixed;
  top:73%;
  left: 43%;
  width: 80px;
  height: 35px;
  background-color: rgb(247, 248, 249);
  border-radius: 6px;
  cursor: pointer;
}
.btn:hover{
  background-color: #7daadd;
  
  //  border: 1px solid #f7f7f7;
}
.custom-snackbar {
  position: fixed;
  top: 10%; /* Adjust the top position as needed */
  left: 50%; /* Adjust the left position as needed */
  transform: translate(-50%, -50%); /* Center vertically and horizontally */
}
/* Add this to your global styles.css or component-specific CSS */
.custom-snackbar {
  position: fixed; /* Corrected typo */
  top: 50% !important; /* Ensure the !important flag is set */
  left: 50%;
  transform: translateX(-50%) !important; /* Center horizontally */
}


.newacc{
  position: fixed ;
  top: 89%;
  left:17%;
  color: #f5f7f9;
}
.forgotpass{
  position: fixed ;
  top: 89%;
  left:57%;
  color: #f5f7f9;
}
.newacc:hover{
  // position: fixed ;
  // top: 93%;
  // left:17%;
  color: #011b35;
}
.custom-link{
  color: #ffffff;
}
.custom-link:hover{
 color: #011b35;
}
.outer{
  position: fixed;
  top: 20%;
  left: 27.5%;
  width:45vw;
  height:59vh;
  background-color:  rgba(175, 195, 215, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7) !important; /* Add box shadow */

}