    .alert{
        position: relative;
        top: 70%; /* Adjust this value to move the dialog box higher on the screen */
        width: 20vw;
        background-color: rgba(180, 180, 181, 0.8);
    }